<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Bridge</title>
    <link rel="icon" type="image/x-icon" href="images/icon.png">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900">
    <div id="app" class="min-h-screen flex items-center justify-center relative bg-cover transition-all duration-500"
        style="background-image: url('images/bg.jpg');">

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black opacity-50"></div>

        <!-- Current Date/Time -->
        <div v-if="currentDateTime" class="absolute top-4 right-4 text-gray-100 text-xl font-mono animate-slideInFromLeft">
            {{ currentDateTime }}
        </div>

        <!-- Content Container -->
        <div class="bg-gray-800 shadow-2xl rounded-lg p-8 w-11/12 max-w-md text-gray-300 z-10 transform transition-all duration-500 hover:scale-105 hover:shadow-2xl">
            <div class="text-center">
                <h1 class="text-4xl font-extrabold mb-6 text-gradient text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-indigo-500 animate-bounce">
                    Time Bridge
                </h1>

                <div class="sm:flex items-center justify-between mb-6 sm:bg-purple-900">
                    <label class="block rounded-md font-medium text-xl p-3" for="fromTime">From</label>
                    <input id="fromTime" type="datetime-local" v-model="fromTime" class="p-3 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-4 focus:ring-purple-500 transition duration-200 hover:border-indigo-500" />
                </div>

                <div class="sm:flex items-center justify-between mb-6 sm:bg-purple-900">
                    <label class="block rounded-md font-medium text-xl p-3" for="toTime">To</label>
                    <input id="toTime" type="datetime-local" v-model="fromTime" class="p-3 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-4 focus:ring-purple-500 transition duration-200 hover:border-indigo-500" />
                </div>

                <div class="bg-gray-700 text-gray-100 p-4 rounded-md shadow-md">
                    <p class="font-mono text-xl font-semibold animate-fadeIn">Age:</p>
                    <p class="font-mono text-3xl mt-2 animate-fadeIn">
                        {{ formattedAge.years }}<span class="text-xs">yr</span>-{{ formattedAge.months }}<span class="text-xs">mn</span>-{{ formattedAge.days }}<span class="text-xs">dy</span>
                        {{ formattedAge.hours }}:{{ formattedAge.minutes }}:{{ formattedAge.seconds }}
                    </p>
                </div>

                <!-- <button @click="resetAge" class="mt-6 py-2 px-4 bg-indigo-600 text-white font-bold rounded-md hover:bg-indigo-500 transition duration-300 transform hover:scale-105">
                    Reset
                </button> -->
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    defaultDate: "2002-08-10T00:00:00",
                    fromTime: "",
                    age: {
                        years: 0,
                        months: 0,
                        days: 0,
                        hours: 0,
                        minutes: 0,
                        seconds: 0,
                    },
                    intervalId: null,
                    currentDateTime: "",
                };
            },
            computed: {
                formattedAge() {
                    const { years, months, days, hours, minutes, seconds } = this.age;
                    return {
                        years: years.toString().padStart(2, "0"),
                        months: months.toString().padStart(2, "0"),
                        days: days.toString().padStart(2, "0"),
                        hours: hours.toString().padStart(2, "0"),
                        minutes: minutes.toString().padStart(2, "0"),
                        seconds: seconds.toString().padStart(2, "0")
                    };
                },
            },
            methods: {
                calculateAge() {
                    const fromTimeTime = new Date(this.fromTime);
                    const now = new Date();

                    let years = now.getFullYear() - fromTimeTime.getFullYear();
                    let months = now.getMonth() - fromTimeTime.getMonth();
                    let days = now.getDate() - fromTimeTime.getDate();
                    let hours = now.getHours() - fromTimeTime.getHours();
                    let minutes = now.getMinutes() - fromTimeTime.getMinutes();
                    let seconds = now.getSeconds() - fromTimeTime.getSeconds();

                    if (seconds < 0) {
                        seconds += 60;
                        minutes--;
                    }
                    if (minutes < 0) {
                        minutes += 60;
                        hours--;
                    }
                    if (hours < 0) {
                        hours += 24;
                        days--;
                    }
                    if (days < 0) {
                        const prevMonth = new Date(now.getFullYear(), now.getMonth(), 0);
                        days += prevMonth.getDate();
                        months--;
                    }
                    if (months < 0) {
                        months += 12;
                        years--;
                    }

                    this.age = { years, months, days, hours, minutes, seconds };
                },
                updateDateTime() {
                    const now = new Date();
                    this.currentDateTime = now.toLocaleString();
                },
                resetAge() {
                    this.fromTime = this.defaultDate; // Reset to current date and time
                    this.calculateAge(); // Recalculate the age
                }
            },
            mounted() {
                this.fromTime = this.defaultDate;
                this.calculateAge();
                this.intervalId = setInterval(this.calculateAge, 1000);
                setInterval(this.updateDateTime, 1000); // Update current date time every second
            },
            beforeDestroy() {
                clearInterval(this.intervalId);
            },
        });
    </script>

    <style>
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        .animate-fadeIn {
            animation: fadeIn 2s ease-in;
        }

        @keyframes slideInFromLeft {
            0% { transform: translateX(-100%); opacity: 0; }
            100% { transform: translateX(0); opacity: 1; }
        }

        .animate-slideInFromLeft {
            animation: slideInFromLeft 1s ease-out;
        }
    </style>
</body>

</html>
